<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #01AC6A;">
    <a class="navbar-brand titulo" [routerLink]="['home']" routerLinkActive="router-link-active">La Vendimia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['clientes']" routerLinkActive="router-link-active">Clientes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['articulos']" routerLinkActive="router-link-active">Artículos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['ventas']" routerLinkActive="router-link-active" >Venta</a>
          </li>
        
      </ul>

      <span class="nav-link">Fecha: {{ fecha | date : 'dd/MM/yyyy'}}</span>
    </div>
  </nav>
