.titulo{
    color: white;
}

.nav-item a{
    color: white !important;
}

.nav-item a:active{
    color: black !important;
}

.nav-item a:hover{
    color: black !important;
}

.nav-item a:active{
    color: black !important;
}