<div class="card">
    
    <div class="card-header">
        <div class="container">
            
            <div class="row">
                <div class="col col-lg-10">
                    <h5>Ventas activas</h5>
                </div>
                <div class="col-md-auto">
                    <a [routerLink]="['/venta', '']" class="btn btn-primary">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        &nbsp;Nueva venta
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Folio venta</th>
                    <th scope="col">Clave cliente</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>123</td>
                        <td>Sheryl Félix</td>
                        <td>1250</td>
                        <td>24/10/2019</td>
                        <td>Activo</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>120</td>
                        <td>Akemi Leyva</td>
                        <td>3400</td>
                        <td>24/10/2019</td>
                        <td>Activo</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>100</td>
                        <td>Jorge Romero</td>
                        <td>2350</td>
                        <td>24/10/2019</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
        </table>
    </div>
    
  

    
</div>