<div class="card" *ngIf="tabIndex == 0">
    
        <div class="card-header">
            <h5>Registro de ventas</h5>
        </div>
    
        <div class="card-body">
            <div class="row">
                <div class="col col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Cliente</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Nombre" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-md-auto">
                    <span>Nombre</span>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col col-md-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Artículo</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Artículo" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
           

            <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Descripción artículo</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Importe</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Comedor 6 sillas</th>
                            <td>MOD-12</td>
                            <td width="100px" >
                                <input  class="form-control" type="number">
                            </td>
                            <td>{{ 4250 | currency }}</td>
                            <td>{{ 4250 | currency }}</td>
                            <td>
                                <button class="btn btn-danger">
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </button>
                            </td>
                        </tr>
    
                        <tr>
                            <th scope="row">Recámara king-size</th>
                            <td>MOD-KN</td>
                            <td width="100px" >
                                <input  class="form-control" type="number">
                            </td>
                            <td>{{ 5400 | currency }}</td>
                            <td>{{ 5400 | currency }}</td>
                            <td>
                                <button class="btn btn-danger">
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
            </table>

            <hr>

            <div class="container">
                <div class="row">
                    <div class="col col-md-8 text-right">
                        Enganche
                    </div>
                    <div class="col col-md-2 text-right">
                        {{ 1000 | currency }}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-8 text-right">
                        Bonificación enganche
                    </div>
                    <div class="col col-md-2 text-right">
                        {{ 100 | currency }}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-8 text-right">
                        Total
                    </div>
                    <div class="col col-md-2 text-right">
                        {{ 900 | currency }}
                    </div>
                </div>
            </div>
        </div>
        
      
    
        
</div>

<div class="card" *ngIf="tabIndex == 1">
    
    <div class="card-header">
        <h5>Registro de ventas</h5>
    </div>

    <div class="card-body">
        
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="5">Abonos Mensuales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3 abonos de</td>
                        <td>{{ 1125.33 | currency }}</td>
                        <td>Total a pagar : {{ 1125.33 * 3 | currency }}</td>
                        <td>Se ahorra {{ 784.84 | currency }}</td>
                        <td>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        </td>
                    </tr>

                    <tr>
                        <td>6 abonos de</td>
                        <td>{{ 606.27 | currency }}</td>
                        <td>Total a pagar : {{ 606.27 * 6 | currency }}</td>
                        <td>Se ahorra {{ 523.24 | currency }}</td>
                        <td>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2">
                        </td>
                    </tr>

                    <tr>
                        <td>9 abonos de</td>
                        <td>{{ 433.24 | currency }}</td>
                        <td>Total a pagar : {{ 433.24 * 9 | currency }}</td>
                        <td>Se ahorra {{ 261.64 | currency }}</td>
                        <td>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option3">
                        </td>
                    </tr>

                    <tr>
                        <td>12 abonos de</td>
                        <td>{{ 346.74 | currency }}</td>
                        <td>Total a pagar : {{ 346.74 * 12 | currency }}</td>
                        <td>Se ahorra {{ 0 | currency }}</td>
                        <td>
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2">
                        </td>
                    </tr>
                </tbody>
        </table>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col col-md-8 text-right">
                    Enganche
                </div>
                <div class="col col-md-2 text-right">
                    {{ 1000 | currency }}
                </div>
            </div>

            <div class="row">
                <div class="col col-md-8 text-right">
                    Bonificación enganche
                </div>
                <div class="col col-md-2 text-right">
                    {{ 100 | currency }}
                </div>
            </div>

            <div class="row">
                <div class="col col-md-8 text-right">
                    Total
                </div>
                <div class="col col-md-2 text-right">
                    {{ 900 | currency }}
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="container">
    <button type="button" class="btn btn-primary">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="regresar()" *ngIf="tabIndex == 1" >Regresar</button>
    <button type="button" class="btn btn-primary" (click)="siguiente()" *ngIf="tabIndex == 0" >Siguiente</button>
</div>
